* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(234, 234, 234);
}

body {
  padding: 60px;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
  /* border-bottom: 1px solid black; */
  margin-bottom: 5px;
}

.ficha-tema{
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding: 30px 30px;
  background-color: gray;
  border-radius: 10px;

}

.imagen-card {
  width: 8%;
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  /* box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03); */
  display: flex;
  flex-direction: column;
 /*  height: 0%;  */ 
  justify-content: space-between;
/*   margin-bottom: 20px;
  margin-right: 20px; */
  overflow: hidden;
}

.imagen-card p {
  background-color: white;
  /* flex: 1; */
  font-size: 1.5rem;
  /* margin-top: 5px; */
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.imagen-card img {
  width: 100%;
}